@page
@model Artsofte.Pages.Employees.CreateModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create new employee</h1>

<hr />

<form method="post">
    <div class="form-group">
        <label asp-for="EmployeeVM.Name"></label>
        <input asp-for="EmployeeVM.Name" class="form-control" maxlength="30"/>
        <span asp-validation-for="EmployeeVM.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeVM.Surname"></label>
        <input asp-for="EmployeeVM.Surname" class="form-control" maxlength="30" />
        <span asp-validation-for="EmployeeVM.Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeVM.Age"></label>
        <input asp-for="EmployeeVM.Age" class="form-control" type="number" min="18" max="65" maxlength="2"/>
        <span asp-validation-for="EmployeeVM.Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeVM.Gender"></label>
        <select asp-for="EmployeeVM.Gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            @*And any variants of the Gender*@
        </select>
        <span asp-validation-for="EmployeeVM.Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeVM.DepartmentId"></label>
        <select asp-for="EmployeeVM.DepartmentId" asp-items="Model.Departments" class="form-control">
            <option>Please select department</option>
        </select>
        <span asp-validation-for="EmployeeVM.DepartmentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeVM.ProgrammingLanguageId"></label>
        <select asp-for="EmployeeVM.ProgrammingLanguageId" asp-items="Model.ProgrammingLanguages" class="form-control">
            <option>Please select programming language</option>
        </select>
        <span asp-validation-for="EmployeeVM.ProgrammingLanguageId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="/Employees/Index" class="btn btn-secondary">Back to list</a>
</form>
